In [1]:
print("Adeel")

Adeel

In [2]:
print(45)

45

In [3]:
print(34.34)

34.34

In [4]:
type(35)

int

In [5]:
name=234

In [6]:
name_2=float(name)

In [7]:
type(name_2)

float

In [8]:
name_2

234.0

In [9]:
("tye567")

tye567

In [10]:
type("tye567")

str

In [21]:
print("TYDTWETD",1224342,56342.35346,sep="")

TYDTWETD122434256342.35346

In [25]:
print("pakistan",end="\t")
print("karachi")

pakistan	karachi

##Assignment escap sequences

In [26]:
print(3+33)

36

In [79]:
print("pakistan"*24)

pakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistanpakistan

In [29]:
name=4

In [32]:
##typecasting
pakisat=str(name)

In [31]:
print(str(2)+"hello")

2hello

In [34]:
#string formating
name="Adeel"
age=23
print("my name is "+name+" and my age is" +str(age))

my name is Adeel and my age is23

In [54]:
#"{}"place holer
print("my name is {0} and my age is {1}".format(name,age))
#easyway
print(f"my name is {name} and my age is {age}")

my name is Adeel and my age is 23
my name is Adeel and my age is 23

In [76]:
#string indexing
name[0]
name[:1]
name[1:]

'deel'

In [77]:
#string reversing
name[::-1]

'leedA'

In [81]:
name[:2]

'Ad'

In [87]:
name[::2]

'Ael'

In [82]:
#arthmetic
2+3

5

In [84]:
a=10
b=56.2436
c=a*b
print(c)
round(c,6
     )

562.436

562.436

In [85]:
a=10
b=56.2436
c=a/b
print(c)
round(c,6
     )

0.17779800723993486

0.177798

In [86]:
a=10
b=56.2436
c=a//b
print(c)
round(c,6
     )

0.0

0.0